<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login V18</title>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!--===============================================================================================-->
		<link
		rel="icon" type="image/png" href="images-login/icons/favicon.ico"/>
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/bootstrap/css/bootstrap.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="fonts-login/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="fonts-login/Linearicons-Free-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/animate/animate.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/select2/select2.min.css">
		<!--===============================================================================================-->
		<link
		rel="stylesheet" type="text/css" href="vendor-login/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="css-login/util.css">
		<link
		rel="stylesheet" type="text/css" href="css-login/main.css">
	<!--===============================================================================================-->
	</head>
	<body style="background-color: #666666;">

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" method="post">

						{% for msg in app.flashes('error') %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								{{ msg }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}

						<span class="login100-form-title p-b-43">
							Create New Account
						</span>

						<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="email">
							<span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input class="input100" type="password" name="password">
							<span class="focus-input100"></span>
							<span class="label-input100">Password</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="First Name is required">
							<input class="input100" type="text" name="firstname">
							<span class="focus-input100"></span>
							<span class="label-input100">First Name</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Last Name is required">
							<input class="input100" type="text" name="lastname">
							<span class="focus-input100"></span>
							<span class="label-input100">Last Name</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Number is required">
							<input class="input100" type="number" name="number">
							<span class="focus-input100"></span>
							<span class="label-input100">Number</span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Birthday is required">
							<input class="input100" type="text" name="birthday" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
							<span class="focus-input100"></span>
							<span class="label-input100">Birthday</span>
						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">
								Register
							</button>
						</div>

						<div class="text-center p-t-46 p-b-20">
							<span class="txt2">
								Already have account ?
							</span>
						</div>

						<div class="login100-form-social flex-c-m">
							<div>
								<a href="{{ path('app_login') }}" class="txt4">
									Login Now
								</a>
							</div>
						</div>
					</form>

					<div class="login100-more" style="background-image: url('images-login/bg-01.jpg');"></div>
				</div>
			</div>
		</div>


		<!--===============================================================================================-->
		<script src="vendor-login/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor-login/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor-login/bootstrap/js/popper.js"></script>
		<script src="vendor-login/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor-login/select2/select2.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor-login/daterangepicker/moment.min.js"></script>
		<script src="vendor-login/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script src="vendor-login/countdowntime/countdowntime.js"></script>
		<!--===============================================================================================-->
		<script src="js-login/main.js"></script>

	</body>
</html>
