{% extends 'frontbasekhalil.html.twig' %}
{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="flex justify-center items-center bg-teal-200">
<div class="form-container  w-auto">
    {{form(form_question3, { 'attr': {'class': ' max-w-[800px]  form-container bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4  p-3 flex flex-col justify-center items-start m-6'} }) }}

</div>

</div>

{% endblock %}