{% extends 'baseFront.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">

    <div class="section pb_70">
        <div class="container">
            <div class="col-lg-12">
                <img height="400" width="900" src=" {{asset(imgr)}}">

            </div>
        </div>


        <div class="section pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading_s1">
                            <div class="container">
                                <h3 class="title-agile2"> </h3>
                                <label class="agile-se"></label>
                                <div class="w3layouts-main">
                                    <img src=""  />

                                    {% include "commentaire/afficheCmntrFront.hmtl.twig" %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </html>
{% endblock %}