<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pack & Go !{% endblock %}</title>
    {% block header %}
    <head>
        <title>Travel Go a Travel Category Flat bootstrap Responsive website Template | Home :: w3layouts</title>

        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Travel Go Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--// Meta tag Keywords -->

        <!-- css files -->
        <link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
        <link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
        <link href="css/component.css" rel="stylesheet" type="text/css"  /> <!-- For-Nav-CSS -->
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" /> <!-- For-News-CSS -->
        <link href="css/mainn.css" rel="stylesheet"/> <!-- For-Portfolio-CSS -->
        <!-- //css files -->

        <!-- online-fonts -->
        <link href="//fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
        <!-- //online-fonts -->

    </head>
    <!--start-home-->
<body class="cbp-spmenu-push" id="home">
<!-- Banner -->
<div id="house" class="top-header">
    <div class="col-md-6 logo-w3l w32">

        <h1 class="location"><span class="icon-w3"></span><a href="index.html">Pack & Go</a></h1>
    </div>
    <div class="col-md-6 logo-w3l w31 sea">
        <div class="right-w3l">
            <ul class="top-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="search">
            <form action="#" method="post">
                <input type="search" placeholder="Search here..." name="Search" required="">
                <input type="submit" value="">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--bottom-->
<div class="button">
    <button id="showLeftPush"><img src="images/menu-icon.png" alt=""></button>
</div>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3>Menu</h3>
    <a href="#home" class="scroll">Home</a>
    <a href="#services" class="scroll">Services</a>
    <a href="#news" class="scroll">News</a>
    <a href="#gallery" class="scroll">Gallery</a>
    <a href="#team" class="scroll">Team</a>
    <a href="#contact" class="scroll">Contact Us</a>

</nav>
<!--start-slider-->
<div class="banner">
    <div class="col-md-6 banner-slider">
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
                <li>
                    <div class="banner-info">
                        <h3>Adventure is worthwhile.</h3>
                        <p>A journey is best measured in friends, rather than miles.</p>
                    </div>
                </li>
                <li>
                    <div class="banner-info">
                        <h3>To Travel is to Live</h3>
                        <p>Travel and change of place impart new vigor to the mind.</p>
                    </div>
                </li>
                <li>
                    <div class="banner-info">
                        <h3>Enjoy Your Journey.</h3>
                        <p>Take only memories, leave only footprints.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 banner-grids">
        <div class="col-md-6 banner-grid">
            <figure class="effect-bubba">
                <img src="images/b2.jpg" alt=""/>
                <figcaption>
                    <h4>Pack & Go</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-6 banner-grid">
            <figure class="effect-bubba">
                <img src="images/b3.jpg" alt=""/>
                <figcaption>
                    <h4>Pack & Go</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-6 banner-grid">
            <figure class="effect-bubba">
                <img src="images/b4.jpg" alt=""/>
                <figcaption>
                    <h4>Pack & Go</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-6 banner-grid lost">
            <figure class="effect-bubba">
                <img src="images/b5.jpg" alt=""/>
                <figcaption>
                    <h4>Pack & Go</h4>
                </figcaption>
            </figure>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>
<!--//end-slider-->

<!-- //Banner -->

<!-- services -->
<!-- //services -->

<!-- News -->

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Our News</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <img src="images/n1.jpg" alt="blog-image" />
                <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>

    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Our News</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <img src="images/n2.jpg" alt="blog-image" />
                <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>

    </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Our News</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <img src="images/n3.jpg" alt="blog-image" />
                <span>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem , eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.accusantium doloremque laudantium, totam rem aperiamconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>

    </div>
</div>
<!-- //Modal3 -->

<!-- //News -->

<!-- Gallery -->
</header>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
                                                                   <!-- //js -->

                                                                   <!-- nav-script -->
                                                                   <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="js/classie.js"></script>
    <script>
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            body = document.body;

        showLeftPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toright' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeftPush' );
        };

        function disableOther( button ) {
            if( button !== 'showLeftPush' ) {
                classie.toggle( showLeftPush, 'disabled' );
            }
            if( button !== 'showRightPush' ) {
                classie.toggle( showRightPush, 'disabled' );
            }
        }
    </script>
    <!-- nav-script -->

    <!-- banner-slide -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner-slide -->

    <!-- FlexSlider -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function(){

        });
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- FlexSlider -->

    <!-- Portfolio -->
    <script src="js/main.js"></script>
    <!-- //Portfolio -->

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

    <!-- for-bottom-to-top smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //for-bottom-to-top smooth scrolling -->

    <!-- //js-scripts -->
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212126.07899261903!2d150.68928304602147!3d-33.82598834810063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+Australia!5e0!3m2!1sen!2sin!4v1463468876401"  allowfullscreen></iframe>
    </div>
    <div class="footer w3ls">
        <div class="container">
            <div class="footer-main">
                <div class="footer-top">
                    <div class="col-md-4 ftr-grid fg1">
                        <h3>About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                    <div class="col-md-4 ftr-grid fg2">
                        <h3>Our Address</h3>
                        <div class="ftr-address">
                            <div class="local">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="ftr-text">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="ftr-address">
                            <div class="local">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="ftr-text">
                                <p>+1 (512) 154 8176</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="ftr-address">
                            <div class="local">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="ftr-text">
                                <p><a href="mailto:info@example.com">info@example.com</a></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftr-grid fg2">
                        <h3>Connect With Us</h3>
                        <div class="right-w3l fotw3">
                            <ul class="top-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="copyrights">
                    <p>© 2017 Travel Go. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>